{% extends "course/base.html" %}

{% block content %}

<div class="index">

{% include 'course/partials/hero.html' %}

<div class="container">
  <div class="main-content">
    <div class="row vrithm">
      <h2>About</h2>

      <h3>About the Course</h3>

      <p>Our application design course teaches all the skills you need to become a professional in this field. Instructor Roman Leinwather has learned and has been using these skills during the last 15 years and these are the exact skills he uses every day when working for clients from around the world.</p>

      <p>The course consists of a practical, systematic, step-by-step approach teaching everything from design basics, using industry-standard tool Adobe Xd, creating wireframes, user flows, interactive prototypes and final design mockups.</p>

      <p>What if you need help? You are entitled to two hours of reply time. You can ask questions directly your instructor by use of our contact form.</p>

      <h3>About Your Trainer</h3>
      <p>Roman Leinwather is a senior application designer with more than 15 years of experience. Roman is a proud member of the top 3% of internet talent - Toptal.</p>

      <p>He studied web design and development at Oxford Computer College, London followed by various programming and design courses in City University, London. He has been working for several startups, digital and government agencies in London. He has been working as an independent freelancer for the last 10 years in Prague.</p>

      <p> His work is used daily by millions of people around the world. Roman’s toolbox: Adobe Xd, Adobe Photoshop, Adobe Illustrator, HTML, CSS, Java-script, Django, Ruby on Rails, PHP.</p>



      <h3>About the company</h3>
      <p>Getquantify is legal entity behind this course. The company is solely owned by Roman Leinwather who is also the Managing Director.</p>

      <p>Getquantify Ltd,<br />
        Benadicka 7<br />
        85106 Bratislava<br />
        Slovakia<br />
        Registration Number: 47 538 953<br />
        Tax Registration Number : SK2023949785<br />

    </div>
  </div>
</div>

{% include 'course/partials/enroll.html' %}
{% include 'course/partials/footer.html' %}

</div>

{% endblock %}
