{% extends "course/base.html" %}

{% block content %}

<div class="row stranger">
  <div class="col s12 m6 l6 left">
    <div class="content">
      <ul>
        <li><a class="list-button" href="/administration/">Back to Administration</a></li>
      </ul>
      <h1>Time Update</h1>
      <form action="/submit_time/" method="post">

        {% csrf_token %}

        <div class="input-field">
          <input type="text" id="user_id" name="user_id" data-required="true" />
          <label id="user_id">User ID</label>
        </div>
        <div class="input-field">
          <input type="text" id="add_minutes" name="add_minutes" data-required="true" />
          <label id="add_minutes">Add minutes</label>
        </div>
        <button type="submit">Update</button>
      </form>
    </div>
  </div>
  <div class="col s12 m6 l6 right" id="login-aw">
  </div>
</div>

{% endblock %}
