{% extends "course/base.html" %}

{% block content %}

<div class="row stranger">
  <div class="col s12 m6 l6 left">
    <div class="content">
      <h1>Administration</h1>
      <ul>
        <li><a class="list-button" href="/inactivate_account/">Inactivate Account</a></li>
        <li><a class="list-button" href="/activate_account/">Activate Account</a></li>
        <li><a class="list-button" href="/add_time/">Add Time</a></li>
      </ul>
    </div>
  </div>
  <div class="col s12 m6 l6 right" id="login-aw">
  </div>
</div>

{% endblock %}
