{% extends "course/base.html" %}

{% block content %}
{% with nav as nav %}
{% with navgroup as navgroup %}

{% include 'course/partials/progress-indicator.html' with progress_value=6 %}

<div id="sidebar">
  {% include 'course/partials/navigation.html' with nav="grid" navgroup="design-basics" %}
</div>

<div id="content">
  {% include 'course/partials/show-nav.html' %}
  {% include 'course/partials/lesson_header.html' with header_one="02 Design Basics" header_two="Grid System" %}
  {% include 'course/partials/data.html' with current_lesson=6  video_length="02:15" %}
  {% include 'course/partials/tabs.html' with nofiles="nofiles" %}
  {% include 'course/partials/video.html' with id=353354015 %}

  <div class="tab-content" id="files">
    <ul>
      <li>No Files</li>
    </ul>
  </div>

  <div class="tab-content" id="desription">
    <p>Grid is a universal standard in application production. It is
represented by columns and gutters with equal sizes.

    We divide the canvas layout into columns that we separate with margins, using white space, between them. The width of the columns and the margins are equal, and we can place content in one or more columns based on the layout of the design.

    The width of columns and gutters is not important. Designers create their grid based on their design direction for any
particular project.
    </p>
  </div>


  {% include 'course/partials/contact-form.html' %}
</div>

{% endwith %}
{% endwith %}
{% endblock %}
