{% extends "course/base.html" %}

{% block content %}

<div class="index">

{% include 'course/partials/hero.html' %}

<div class="container">
  <div class="main-content">
    <div class="course-modules vrithm">
      <h2>What You Will Learn</h2>
      <div class="row">
        <div class="col s12 m6 l3" id="introduction-box">
          <div class="box">
            <div class="box-content">
              <h3>5 Lessons</h3>
              <h2>Introduction</h2>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3" id="designbasics-box">
          <div class="box">
            <div class="box-content">
              <h3>13 Lessons</h3>
              <h2>Design Basics</h2>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3" id="adobexd-box">
          <div class="box">
            <div class="box-content">
              <h3>13 Lessons</h3>
              <h2>Adobe Xd</h2>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3" id="uielements-box">
          <div class="box">
            <div class="box-content">
              <h3>15 Lessons</h3>
              <h2>UI Elements</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l3" id="wireframing-box">
          <div class="box">
            <div class="box-content">
              <h3>2 Lessons</h3>
              <h2>Wireframing</h2>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3" id="applicationdesign-box">
          <div class="box">
            <div class="box-content">
              <h3>3 Lessons</h3>
              <h2>Application Design</h2>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3" id="reallifeproject-box">
          <div class="box">
            <div class="box-content">
              <h3>7 Lessons</h3>
              <h2>Real-life Project</h2>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3" id="portfolio-box">
          <div class="box">
            <div class="box-content">
              <h3>2 Lessons</h3>
              <h2>Portfolio / Client</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row vrithm">
      <div class="col s12 m6 l6">
        <h2>About Your Trainer</h2>
        <img  class="me" src="/static/images/rl.jpg" alt="" />
        <p>Roman Leinwather is a senior application designer with more than 15 years of experience.</p>
        <p>Roman is a proud member of the top 3% of internet talent - Toptal.</p>
        <p>He studied web design and development at Oxford Computer College, London followed by various programming and design courses in City University, London. He has been working for several startups, digital and government agencies in London.</p>
        <p> He has been working as an independent freelancer for the last 10 years in Prague.</p>
        <p>His work is used daily by millions of people around the world.</p>
        <p>Roman’s toolbox: Adobe Xd, Adobe Photoshop, Adobe Illustrator, HTML, CSS, Java-script, Django, Ruby on Rails, PHP</p>

      </div>

      <div class="col s12 m6 l6">
        <div class="prerequisites">
          <h2>Prerequisites</h2>
          <p>Anyone interested in learning or furthering their knowledge of application design can enroll. </p>
          <p>Candidates should have a computer with an internet access, basic computer knowledge, working with internet browser.</p>
          <p>The course uses single software Adobe XD, which can be installed on Microsoft Windows as well as Apple computers for free. You can download it <a href="https://www.adobe.com/products/xd.html">here</a>.</p>
        </div>

        <div class="support">
          <h2>Support</h2>
          <p>Every student receives an budget of answer time. Students can use build-in messaging platform to ask questions and receive answers by email. The total answer time is limited to two hours.</p>
        </div>
      </div>
    </div>

    <div class="syllabus row vrithm">
      <h2>Course Syllabus - 8 Modules | 62 Lessons</h2>
      <p><strong><i class="fas fa-video"></i> 11 hours</strong> of video content, <strong><i class="fas fa-cloud-download-alt"></i> 30</strong> downloadable resources.</p>
      <ul>
        <li class="active module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>01 Introduction</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Course structure - 02:18</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/353199717"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Inspiration - 01:26</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/353245641"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Tools - 01:11</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/353246344"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Future - 00:59</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/353247051"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Benefits - 01:48</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/353247530"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>02 Design Basics</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Grid System - 02:15</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Spacing - 02:55</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/353378005"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Separation - 02:27</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Visual Noise - 01:36</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Balance - 02:23</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Iconography - 01:37</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Typography - Foundation - 01:46</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Typography - Scale - 02:04</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Color Contrast - 01:35</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Color Palette - 01:39</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Composition - 03:49</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Consistency - 07:00</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Resources - 01:51</div>
            </li>

          </ul>
        </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>03 Adobe Xd</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Artboards & Layers - 07:14</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>History Tool - 01:47</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Zoom Tool - 02:44</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock-open"></i>Rectangle Tool - 03:08</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/354478946"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Elipse Tool - 02:04</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Line Tool - 01:23</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Color - 02:06</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Gradient - 02:51</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Drop Shadow - 03:43</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Transparency - 01:55</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Masking - 03:05</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Text Tool - 03:10</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Font icons - 02:08</div>
            </li>
          </ul>
        </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>04 UI Elements</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Text Fields - 07:13</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Buttons - 06:06</div>
              <div class="syllabus-content">
                <div class="video" id="video">
                   <iframe src="https://player.vimeo.com/video/354698295"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Sliders - 07:22</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Selection Controls - 13:31</div>
            </li>
           <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Chips - 10:19</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Tooltips - 07:25</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Cards - 11:25</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Dialogs - 09:47</div>
            </li>
           <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Lists - 17:29</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Tables - 09:16</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Navigation - 07:13</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Charts - 14:06</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Menus - 08:50</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Steps - 09:19</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Snackbars - 03:20</div>
            </li>
          </ul>
        </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>05 Wireframing</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Basics - 07:09</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Inteface - 22:43</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>User Flows - 04:48</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Prototype - 01:57</div>
            </li>
          </ul>
         </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>06 Application Design</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Sample Mobile App. - Instagram - 48:51</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Sample Web App. - Facebook - 47:14</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Iterations - 07:27</div>
            </li>
          </ul>
        </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>07 Real-life Project</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Spec - 02:39</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Wireframes - 02:03:44</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>User Flows - 15:22</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Prototype - 06:55</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Design - 37:50</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Design Guide - 01:33:29</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Files Hands Off - 01:37</div>
            </li>
          </ul>
        </li>

        <li class="module">
          <div class="syllabus-header"><i class="fas fa-plus"></i><i class="fas fa-minus"></i>08 Portfolio & Client</div>
          <ul>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Portfolio - 02:27</div>
            </li>
            <li>
              <div class="syllabus-lesson-header"><i class="fas fa-lock"></i>Client - 02:17</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="samples vrithm">
      <h2>Sample Applications You Will Design</h2>
      <p>Replicating other designers work is a great way of learning the craft. We have picked Instagram and Facebook as sample projects, but we will create our own version of these mobile and web applications during the course.</p>
      <p>You will be following video lessons and replicating the designer's process step by step, stopping the video until you have it exactly the way the instructor has it on its screen.</p>
      <img class="img-samples" src="/static/images/examples.jpg" alt="" />

      <h2>UI Elements You Will Create</h2>
      <p>We will go through the full list of UI elements and create them all one by one in Adobe XD. This will give you a complete set of building blocks which you can use in any application design.</p>
      <p>Examples of UI Elements you will learn through out the course: Cards, Steps, Dialogs, Controlls, Sliders, Buttons, Navigations, Tables and many more...</p>
      <div class="images-home">
        <div class="images-home-cover">
          <img src="/static/images/cards.jpg" alt="" />
          <img src="/static/images/steps.jpg" alt="" />
          <img src="/static/images/dialogs.jpg" alt="" />
          <img src="/static/images/controlls.jpg" alt="" />
          <img src="/static/images/sliders.jpg" alt="" />
          <img src="/static/images/buttons.jpg" alt="" />
          <img src="/static/images/nav.jpg" alt="" />
          <img src="/static/images/tables.jpg" alt="" />
        </div>
      </div>

      <h2>Real-life Project Study</h2>
      <p>You will be following along the realistic scenario of a real-life project. Plane tickets booking application. Based on the specifications received from a client we will be creating a set of 9 wireframes followed by user flow creation and clickable prototype. We will design all the views of the application and extract all the UI elements into practical design guide and prepare the assets for handoff.</p>
      <p>Example of wireframe and final mockup of single view - Ticket booking / Seat selection.</p>
      <img class="img-samples" src="/static/images/rl_project.jpg" alt="" />
    </div>
  </div>

</div>

{% include 'course/partials/enroll.html' %}
{% include 'course/partials/footer.html' %}

</div>

{% endblock %}
