{% extends "course/base.html" %}

{% block content %}

<div class="index">

{% include 'course/partials/hero.html' %}

<div class="container">
  <div class="main-content">
    <div class="row vrithm">

      <h2>Privacy</h2>

      <p>Personal Data - Personal Data shall mean any information relating to an identified or identifiable natural person e.g. your name, your address  or your e-mail address.</p>

      <p>Data collection -  We collect data you directly provide us with when submitting any kind of information to us, e.g. when you sign up for an account. Even if you do not directly provide us with any personal data, Getquantify may collect anonymous information about you, such as Google Analytics data. For example, we may collect information about how you got to our website and how you use our course. We only collect anonymous information about you to provide better service to all of our users. We will use anonymous information to evaluate our service activities and improve our service.</p>

      <p>The use of our website and service requires you to create an account on applicatondesign.academy. When you create an account we will ask you for your personal data, in particular, your email address.</p>

      <p>Personal data  - The personal data you directly submit to us will only be used to identify you as a customer of our course, to contact you if necessary and to issue invoices. We will store all the personal data you submitted directly to Getquantify in our database. All personal data will be handled by Getquantify in strict confidence.</p>

      <p>Data sharing - We will never share your personal data.</p>

      <p>Cookies - Getquantify makes use of cookies to store session information, to help you sign up for our course, to protect your data and to provide users with a customized service. Cookies are identifiers (miniature text files) that can be saved temporarily or permanently on a user’s hard drive by the server. Cookies guarantee the consistency of each communication process. Users are free to decide whether to let their browser use cookies. All browser programs allow cookies to be deactivated or deleted. When we use cookies no personally identifiable information will be collected.</p>

      <p>Paypal - If you choose to use our course we will process payments through our third-party credit card processor. All such transactions will be governed by the Paypal privacy policy. We do not receive or store credit card information into our servers. We receive a transaction “token” so we can validate that the transaction has been successfully completed.</p>

      <p>Invoice - We use your personal data provided by payment processor - Paypal.com to issue an invoice.</p>

      <p>Your rights - Upon request, we shall provide you with the information on the stored data relating to your person, free of charge and without delay. The information will be provided electronically. In cases regulated by law, we are obliged, upon request, to correct, block or delete the data stored about you. Please direct all requests directly to roman.leinwather@gmail.com</p>

      <p>Version 1.9.2019</p>

    </div>
  </div>
</div>

{% include 'course/partials/enroll.html' %}
{% include 'course/partials/footer.html' %}

</div>

{% endblock %}
