{% extends "course/base.html" %}

{% block content %}

<div class="index">

{% include 'course/partials/hero.html' %}

<div class="container">
  <div class="main-content">
    <div class="row vrithm">

      <h2>Terms</h2>

      <p>Getquantify Ltd,<br />
        Mr. Roman Leinwather - Managing Director<br />
        Benadicka 7<br />
        85106 Bratislava<br />
        Slovakia<br />
        Registration Number: 47 538 953<br />
        Tax Registration Number : SK2023949785<br />
      </p>

      <p>Getquantify Ltd provides online course on its website applicationdesign.academy</p>

      <p>Course is scheduled for a fixed period of time - one year. Once the user has enrolled in a course, the course material will be accessible through the website - applicationdesign.academy.</p>

      <p>Registration - In order to use the course, the user must register for an account on the website applicationdesign.academy. User must provide accurate and complete information.</p>

      <p>Responsibility - The user is solely responsible for the activity that occurs on his account. The user will keep his login data (username and password) confidential and prevent any unauthorized use by third parties. He or she shall immediately inform Getquantify - Mr. Roman Leinwather - roman.leinwather@gmail.com if there are indications that any third party is misusing his account.</p>

      <p>Account restriction - Getquantify may restrict, block, or delete an account if the user has given false information during the registration or if the user violates applicable laws, regulation or these terms.</p>

      <p>One computer at a time - The course is resticted to use of one computer at a time.</p>

      <p>Course information copyright - Any unauthorized use of any content of the course or site for any purpose is prohibited and will be prohibited to the fullest extent of the law.</p/>

      <p>Fees - The course fees is paid by payment processor Paypal.com</p>

      <p>Cancellation - Course Cancellation shall require a written notification email to roman.leinwather@gmail.com within 10 days from the date of registration. No refunds after 10 days period.</p>

      <p>Technical requirements - Technical guidelines include access to a computer or similar device from which the website and course materials can be viewed and a stable internet connection.</p>

      <p>Version 1.9.2019</p>

    </div>
  </div>
</div>

{% include 'course/partials/enroll.html' %}
{% include 'course/partials/footer.html' %}

</div>

{% endblock %}
