{% extends "course/base.html" %}

{% block content %}
{% with nav as nav %}
{% with navgroup as navgroup %}

{% include 'course/partials/progress-indicator.html' with progress_value=30 %}

<div id="sidebar">
  {% include 'course/partials/navigation.html' with nav="text-tool" navgroup="adobe-xd" %}
</div>

<div id="content">
  {% include 'course/partials/show-nav.html' %}
  {% include 'course/partials/lesson_header.html' with header_one="03 Adobe Xd" header_two="Text Tool" %}
  {% include 'course/partials/data.html' with current_lesson=30 video_length="03:10" %}
  {% include 'course/partials/tabs.html' with nofiles="nofiles"%}
  {% include 'course/partials/video.html' with id=354487278 %}

  <div class="tab-content" id="files">
    <ul>
      <li>No Files</li>
    </ul>
  </div>

  <div class="tab-content" id="desription">
    <p>
      Working with text requires mastering a few different text properties.

      Text alignment, line-height, letter-spacing, font-size, font-weight as well as font itself.

      Additionally, you can set text color, border, opacity and shadow as part of layer settings.
    </p>
  </div>


  {% include 'course/partials/contact-form.html' %}
</div>

{% endwith %}
{% endwith %}
{% endblock %}
