{% extends "course/base.html" %}

{% block content %}
{% with nav as nav %}
{% with navgroup as navgroup %}

{% include 'course/partials/progress-indicator.html' with progress_value=21 %}

<div id="sidebar">
  {% include 'course/partials/navigation.html' with nav="zoom-tool" navgroup="adobe-xd" %}
</div>

<div id="content">
  {% include 'course/partials/show-nav.html' %}
  {% include 'course/partials/lesson_header.html' with header_one="03 Adobe Xd" header_two="Zoom Tool" %}
  {% include 'course/partials/data.html' with current_lesson=21 video_length="02:44" %}
  {% include 'course/partials/tabs.html' with nofiles="nofiles" %}
  {% include 'course/partials/video.html' with id=354478532 %}

  <div class="tab-content" id="files">
    <ul>
      <li>No Files</li>
    </ul>
  </div>

  <div class="tab-content" id="desription">
    <p>
      Zoom is an absolutely crucial tool for any designer, especially for the application designer

      To be able to adjust even the smallest details in your mockups you will quite often need to apply maximum zoom which allows you to see every single pixel in full detail.

      Maximum zoom will scale your canvas into 6400%.
    </p>
  </div>


  {% include 'course/partials/contact-form.html' %}
</div>

{% endwith %}
{% endwith %}
{% endblock %}
