{% if user.is_authenticated %}
    <a id="signout" href="/accounts/logout" title="Logout"<i class="fas fa-sign-out-alt"></i></a>
{% endif %}

<ol id="navigation" class="{{ nav }} {{ navgroup }}">
  <li>
    <h2 class="introduction">01 Introduction</h2>
    <ul class="introduction">
      <li class="course-structure"><a href="/start">Course structure</a></li>
      <li class="inspiration"><a href="/inspiration">Inspiration</a></li>
      <li class="tools"><a href="/tools">Tools</a></li>
      <li class="future"><a href="/future">Future</a></li>
      <li class="benefits"><a href="/benefits">Benefits</a></li>
    </ul>
  </li>

  <li>
    <h2 class="design-basics">02 Design Basics</h2>
    <ul class="design-basics">
      <li class="grid"><a href="/grid">Grid System</a></li>
      <li class="spacing"><a href="/spacing">Spacing</a></li>
      <li class="separation"><a href="/separation">Separation</a></li>
      <li class="visual-noise"><a href="/visual_noise">Visual Noise</a></li>
      <li class="balance"><a href="/balance">Balance</a></li>
      <li class="iconography"><a href="/iconography">Iconography</a></li>
      <li class="typography-fundation"><a href="/typography_fundation">Typography - Fundation</a></li>
      <li class="typography-scale"><a href="/typography_scale">Typography - Scale</a></li>
      <li class="color-contrast"><a href="/color_contrast">Color Contrast</a></li>
      <li class="color-palette"><a href="/color_palette">Color Palette</a></li>
      <li class="composition"><a href="/composition">Composition</a></li>
      <li class="consistency"><a href="/consistency">Consistency</a></li>
      <li class="resources"><a href="/resources">Resources</a></li>
    </ul>
  </li>

  <li>
    <h2 class="adobe-xd">03 Adobe Xd</h2>
    <ul class="adobe-xd">
      <li class="layers"><a href="/layers">Artboards & Layers</a></li>
      <li class="history-tool"><a href="/history_tool">History Tool</a></li>
      <li class="zoom-tool"><a href="/zoom_tool">Zoom Tool</a></li>
      <li class="rectangle-tool"><a href="/rectangle_tool">Rectangle Tool</a></li>
      <li class="elipse-tool"><a href="/elipse_tool">Elipse Tool</a></li>
      <li class="line-tool"><a href="/line_tool">Line Tool</a></li>
      <li class="color"><a href="/color">Color</a></li>
      <li class="gradient"><a href="/gradient">Gradient</a></li>
      <li class="drop-shadow"><a href="/drop_shadow">Drop Shadow</a></li>
      <li class="transparency"><a href="/transparency">Transparency</a></li>
      <li class="masking"><a href="/masking">Masking</a></li>
      <li class="text-tool"><a href="/text_tool">Text Tool</a></li>
      <li class="font-icons"><a href="/font_icons">Font Icons</a></li>
    </ul>
  </li>


  <li>
    <h2 class="ui-elements">04 UI Elements</h2>
    <ul class="ui-elements">
      <li class="text-fields"><a href="/text_fields">Text Fields</a></li>
      <li class="buttons"><a href="/buttons">Buttons</a></li>
      <li class="sliders"><a href="/sliders">Sliders</a></li>
      <li class="selection-controls"><a href="/selection_controls">Selection Controls</a></li>
      <li class="chips-element"><a href="/chips">Chips</a></li>
      <li class="tooltips"><a href="/tooltips">Tooltips</a></li>
      <li class="cards"><a href="/cards">Cards</a></li>
      <li class="dialogs"><a href="/dialogs">Dialogs</a></li>
      <li class="lists"><a href="/lists">Lists</a></li>
      <li class="tables"><a href="/tables">Tables</a></li>
      <li class="navigation"><a href="/navigations">Navigation</a></li>
      <li class="charts"><a href="/charts">Charts</a></li>
      <li class="menus"><a href="/menus">Menus</a></li>
      <li class="steps"><a href="/steps">Steps</a></li>
      <li class="snackbars"><a href="/snackbars">Snackbars</a></li>
    </ul>
  </li>

  <li>
    <h2 class="wireframes">05 Wireframing</h2>
    <ul class="wireframes">
      <li class="registration-interface"><a href="/registration_interface">Basics</a></li>
      <li class="application-interface"><a href="/application_interface">Interface</a></li>
      <li class="user-flows"><a href="/user_flows">User Flows</a></li>
      <li class="interactive-prototype"><a href="/interactive_prototype">Interactive Prototype</a></li>
    </ul>
  </li>


  <li>
    <h2 class="application-design">06 Application Design</h2>
    <ul class="application-design">
      <li class="sample-app-instagram"><a href="/sample_app_instagram">Sample App. - Instagram</a></li>
      <li class="sample-app-facebook"><a href="/sample_app_facebook">Sample App. - Facebook</a></li>
      <li class="sample-app-iterations"><a href="/iterations">Iterations</a></li>
    </ul>
  </li>

  <li>
    <h2 class="real-life-project">07 Real-life project</h2>
    <ul class="real-life-project">
      <li class="specs"><a href="/rlp_spec">Spec</a></li>
      <li class="rlp-wireframes"><a href="/rlp_wireframes">Wireframes</a></li>
      <li class="rlp_user_flows"><a href="/rlp_user_flows">User flows</a></li>
      <li class="prototype"><a href="/rlp_prototype">Prototype</a></li>
      <li class="design"><a href="/rlp_design">Design</a></li>
      <li class="design-guide"><a href="/rlp_design_guide">Design Guide</a></li>
      <li class="assets-delivery"><a href="/rlp_assets">Files Hands Off</a></li>
    </ul>
  </li>

  <li>
    <h2 class="portfolio-client">08 Portfolio & Client</h2>
    <ul class="portfolio-client">
      <li class="portfolio"><a href="/portfolio">Portfolio</a></li>
      <li class="client"><a href="/client">Client</a></li>
    </ul>
  </li>

</ol>
