body {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1em;
  font-weight: 300;
}

.overline {
  font-size: 11px;
  text-transform: uppercase;
  color: #666;
}

h1 {
  margin: 0 0 100px 0;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -1px;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-size: 12px;
  line-height: 2em;
}

button, input, optgroup, select, textarea, textarea.materialize-textarea  {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5em;
}
